/src/MySoft.Data.suo
/src/MySoft.Data/obj
/src/MySoft.Data/bin
/tools/MySoft.Tools.EntityDesign/bin
/tools/MySoft.Tools.EntityDesign/obj
/tools/MySoft.Tools.EntityDesign/Build/ConnectionStringsHistory.txt
/tools/MySoft.Tools.EntityDesign/MySoft.Tools.EntityDesign.csproj.user
/tools/MySoft.Tools.EntityDesign/MySoft.Tools.EntityDesign.suo
